<!-- <ion-header>

  <ion-navbar>
    <ion-title>Testes</ion-title>
    <ion-buttons right>
      <button ion-button outline (click)="runAll()">Run All</button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <ion-navbar>
    <ion-title>Unit Tests</ion-title>
    <ion-buttons right>
      <button ion-button outline (click)="runAll()"><ion-icon name="cog"></ion-icon> Run All</button>
    </ion-buttons>
  </ion-navbar>

  <ion-list>
    <ion-item *ngFor="let test of tests">
      <div style="display: flex; align-items: center">
        <button ion-button (click)="run(test)" outline color="dark">
          <ion-icon name="cog"></ion-icon> Run
        </button>
        <span style="margin-left: 10px">{{test.nameClass}}</span>
      </div>
      <div *ngFor="let result of test.test.results" [ngClass]="'test '+result.type">
        <code ion-text>{{result.type}} {{result.value}}</code>
      </div>
    </ion-item>
  </ion-list>
</ion-content>